
.Notepad-Button {
    display: flex;
    justify-content: center;

}


.textarea-bg {
    height: 70vh;
    width: 100%;
}

.box-card {
    justify-content: center;

    & .card-print {
        width: 250px;
        overflow: hidden;
        margin-top: 30px;
        margin-left: 20px;
        color: white;
        background: #272727;
    }

    & .card-print:hover {
        background: #8BE8E5;
        transition: 1s;
        color: black;
    }
}


@media screen and (max-width:576px){
    .box-card{
        justify-content: center;
    }
}

@media screen and (max-width:768px){
    .box-card{
        justify-content: center;
    }
}

//box
.Notepad-box {
    height: 100vh;
    // background: salmon;
}


//detail

.bg-paper {
    & .sub-bg-paper{
        border: 1px solid #272727;
        border-radius: 20px;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background: #8BE8E5;
        & .sub-bg-Paper-content {
            width: 90%;
            margin-top: 20px;

            & form {
                & .md-3 {
                    & textarea {
                        margin-top: 10px;
                        width: 100%;
                        height: 75vh;
                    }
                }
            }
        }
        
    }

    & .sub-bg-paper:hover {
        background: #272727;
        transition: 1s;
    }
}

.sub-bg-paper form .sub-bg-paper-button {
    background: #272727;
    border: none;
}

.sub-bg-paper:hover form .sub-bg-paper-button {
    background: #8BE8E5;
    color: black;
}