.LandingPage-Load {
  background: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
}
.LandingPage-Load .LandingPage-text h1 {
  animation: textAnimate 4s infinite;
}
.LandingPage-Load .LandingPage-text .bar-Landing {
  animation: LoadBar 4s infinite;
}

@keyframes textAnimate {
  0% {
    font-size: 20px;
  }
  25% {
    font-size: 40px;
    text-shadow: 2px 2px aquamarine;
  }
  50% {
    font-size: 60px;
    text-shadow: 3px 3px aquamarine;
  }
  75% {
    font-size: 80px;
    text-shadow: 4px 4px aquamarine;
  }
  100% {
    font-size: 100px;
    text-shadow: 5px 5px aquamarine;
  }
}
@keyframes LoadBar {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
    background: #03c988;
    height: 10px;
  }
  50% {
    width: 50%;
    background: #03c988;
    height: 10px;
  }
  75% {
    width: 75%;
    background: #03c988;
    height: 10px;
  }
  100% {
    width: 100%;
    background: #03c988;
    height: 10px;
  }
}
.Content-Landing .bg-text .btn-one {
  margin-right: 10px;
  border: 2px solid #03c988;
  color: black;
  background: white;
}
.Content-Landing .bg-text .btn-one:hover {
  background: #03c988;
  transition: 1s;
  color: white;
}
.Content-Landing .bg-text .btn-two {
  background: #03c988;
  color: white;
  border: 2px solid white;
}
.Content-Landing .bg-text .btn-two:hover {
  background: white;
  transition: 1s;
  border: 2px solid #03c988;
  color: black;
}

.register-page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}
.register-page .cardCompo {
  width: 40rem;
}
.register-page .cardCompo .card-two .imgAstro {
  position: relative;
  animation: imgMove 4s infinite;
  width: 300px;
}

@keyframes imgMove {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 0px;
  }
  50% {
    bottom: 40px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .register-page {
    height: 99vh;
    align-items: center;
  }
  .register-page .cardCompo {
    width: 23rem;
  }
  .register-page .cardCompo .card-two .imgAstro {
    width: 200px;
  }
  .CardBody {
    flex-direction: column;
  }
  .card-one {
    order: 1;
  }
}
.login-page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}
.login-page .cardCompo {
  width: 20rem;
}
.login-page .cardCompo .card-one {
  order: 1;
}
.login-page .cardCompo .card-two .imgAstro {
  position: relative;
  animation: imgMove 4s infinite;
  width: 200px;
}

@keyframes imgMove {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 0px;
  }
  50% {
    bottom: 40px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}
.side-nav {
  height: 100vh;
  width: 250px;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  display: flex;
}
.side-nav .side-nav-sub {
  background: #03c988;
  width: 0px;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
}
.side-nav .side-nav-sub .side-nav-flex {
  display: none;
  transition: 1s;
}
.side-nav .side-nav-active {
  background: #03c988;
  width: 300px;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
  display: flex;
  justify-content: center;
}
.side-nav .side-nav-active .side-nav-flex h1 {
  color: white;
  font-family: cursive;
}
.side-nav .side-nav-active .side-nav-flex .button-side-nav {
  width: 100%;
  margin-top: 20px;
  background: none;
  border: none;
}
.side-nav .side-nav-active .side-nav-flex .button-side-nav:hover {
  background: white;
  color: black;
  transition: 1s;
}

.side-noActive {
  height: 100vh;
  width: 50px;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  display: flex;
  transition: 1s;
}
.side-noActive .side-nav-sub {
  background: #03c988;
  width: 0px;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
}
.side-noActive .side-nav-sub .side-nav-flex {
  display: none;
  transition: 1s;
}
.side-noActive .side-nav-active {
  background: #03c988;
  width: 300px;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
  display: flex;
  justify-content: center;
}
.side-noActive .side-nav-active .side-nav-flex h1 {
  color: white;
  font-family: cursive;
}
.side-noActive .side-nav-active .side-nav-flex .button-side-nav {
  width: 100%;
  margin-top: 20px;
  background: none;
  border: none;
}
.side-noActive .side-nav-active .side-nav-flex .button-side-nav:hover {
  background: white;
  color: black;
  transition: 1s;
}

.Profile-Box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile-Box .Profile-Valid {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.Profile-Box .Profile-Valid .Profile-valid-data {
  width: 400px;
  height: 250px;
  display: flex;
  background: #03c988;
  overflow: hidden;
  border-radius: 20px;
  animation: boxAnime 3s infinite;
  color: white;
}
.Profile-Box .Profile-Valid .Profile-valid-data .Profile-valid-img img {
  height: 250px;
  animation: textShow 3s infinite;
}
.Profile-Box .Profile-Empty {
  width: 500px;
  height: 500px;
  text-align: center;
}
.Profile-Box .Profile-Empty .profile-btn-handle {
  background: white;
  border: 1px solid #03c988;
  color: black;
  transition: 1s;
}
.Profile-Box .Profile-Empty .profile-btn-handle:hover {
  background: #03c988;
  color: white;
}

@keyframes boxAnime {
  from, to {
    animation-timing-function: ease-in;
    box-shadow: 0 0 0 hsl(0, 0%, 80%), 0.1rem 0 0 hsl(0, 0%, 100%), -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
    transform: rotateY(-40deg);
  }
  25%, 75% {
    animation-timing-function: ease-out;
    box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%), -0.25rem -0.05rem 1rem 0.15rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(0deg);
  }
  50% {
    animation-timing-function: ease-in;
    box-shadow: -0.1rem 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%), -0.3rem -0.1rem 1.5rem 0.3rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(40deg);
  }
}
@keyframes textShow {
  from {
    width: 400px;
  }
  to {
    width: 200px;
  }
}
.Whistlist-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
}
.Whistlist-form h1 {
  font-family: cursive;
}
.Whistlist-form .whistlist-modal .button-modal {
  background: white;
  border: none;
  transition: 1s;
  color: black;
  border: 1px solid #03c988;
}
.Whistlist-form .whistlist-modal .button-modal:hover {
  background: #03c988;
  color: white;
}

.whistlist-box {
  height: 100vh;
}
.whistlist-box .whistlist-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.whistlist-box .whistlist-card .card {
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .whistlist-box {
    height: 100vh;
  }
  .whistlist-box .whistlist-card {
    justify-content: center;
  }
  .whistlist-box .whistlist-card .card {
    margin-top: 20px;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .whistlist-box {
    height: 100vh;
  }
  .whistlist-box .whistlist-card {
    justify-content: center;
  }
  .whistlist-box .whistlist-card .card {
    margin-top: 20px;
    overflow: hidden;
  }
}
.Notepad-Button {
  display: flex;
  justify-content: center;
}

.textarea-bg {
  height: 70vh;
  width: 100%;
}

.box-card {
  justify-content: center;
}
.box-card .card-print {
  width: 250px;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 20px;
  color: white;
  background: #272727;
}
.box-card .card-print:hover {
  background: #8BE8E5;
  transition: 1s;
  color: black;
}

@media screen and (max-width: 576px) {
  .box-card {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .box-card {
    justify-content: center;
  }
}
.Notepad-box {
  height: 100vh;
}

.bg-paper .sub-bg-paper {
  border: 1px solid #272727;
  border-radius: 20px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #8BE8E5;
}
.bg-paper .sub-bg-paper .sub-bg-Paper-content {
  width: 90%;
  margin-top: 20px;
}
.bg-paper .sub-bg-paper .sub-bg-Paper-content form .md-3 textarea {
  margin-top: 10px;
  width: 100%;
  height: 75vh;
}
.bg-paper .sub-bg-paper:hover {
  background: #272727;
  transition: 1s;
}

.sub-bg-paper form .sub-bg-paper-button {
  background: #272727;
  border: none;
}

.sub-bg-paper:hover form .sub-bg-paper-button {
  background: #8BE8E5;
  color: black;
}

.Setting-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Setting-box .sub-button .btn-sub-setting {
  margin-left: 2px;
  margin-top: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  text-align: center;
}

.bg-404 {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23dddcdd' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}

section.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  height: 100vh;
}

section.notFound h1 {
  color: red;
  font-size: 100px;
}

section.notFound h2 {
  font-size: 50px;
}

section.notFound h1, h2, h3 {
  margin-bottom: 40px;
}

div.text {
  height: 50vh;
}

div.text a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

div.text a:hover {
  color: red;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  section.notFound {
    flex-direction: column;
    justify-content: space-around;
  }
  section.notFound div.img img {
    width: 70vw;
    height: auto;
  }
  section.notFound h1 {
    font-size: 50px;
  }
  section.notFound h2 {
    font-size: 25px;
  }
  div.text a:active {
    color: red;
    text-decoration: underline;
  }
}
body {
  background: #ddd;
}/*# sourceMappingURL=main.css.map */