.LandingPage-Load {
  background: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
}
.LandingPage-Load .LandingPage-text h1 {
  animation: textAnimate 4s infinite;
}
.LandingPage-Load .LandingPage-text .bar-Landing {
  animation: LoadBar 4s infinite;
}

@keyframes textAnimate {
  0% {
    font-size: 20px;
  }
  25% {
    font-size: 40px;
    text-shadow: 2px 2px aquamarine;
  }
  50% {
    font-size: 60px;
    text-shadow: 3px 3px aquamarine;
  }
  75% {
    font-size: 80px;
    text-shadow: 4px 4px aquamarine;
  }
  100% {
    font-size: 100px;
    text-shadow: 5px 5px aquamarine;
  }
}
@keyframes LoadBar {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
    background: #03c988;
    height: 10px;
  }
  50% {
    width: 50%;
    background: #03c988;
    height: 10px;
  }
  75% {
    width: 75%;
    background: #03c988;
    height: 10px;
  }
  100% {
    width: 100%;
    background: #03c988;
    height: 10px;
  }
}
.Content-Landing .nav {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: auto;
}
.Content-Landing .nav .nav-container {
  width: 1100px;
}
.Content-Landing .nav .nav-container .nav-flex {
  display: flex;
  justify-content: space-between;
}
.Content-Landing .nav .nav-container .nav-flex ul {
  list-style: none;
  display: flex;
}
.Content-Landing .nav .nav-container .nav-flex ul li {
  margin-top: 5px;
}
.Content-Landing .nav .nav-container .nav-flex ul li .path {
  color: grey;
  font-size: 20px;
  font-weight: bold;
}
.Content-Landing .nav .nav-container .nav-flex ul li .path:hover {
  border-bottom: 1px solid #03c988;
  color: aquamarine;
  transition: 1s;
}
.Content-Landing .nav .nav-container .nav-flex .button-Landing {
  margin-top: 10px;
}
.Content-Landing .nav .nav-container .nav-flex .button-Landing .btn-one {
  margin-right: 10px;
  border: 2px solid #03c988;
  color: black;
  background: white;
}
.Content-Landing .nav .nav-container .nav-flex .button-Landing .btn-one:hover {
  background: #03c988;
  transition: 1s;
  color: white;
}
.Content-Landing .nav .nav-container .nav-flex .button-Landing .btn-two {
  background: #03c988;
  color: white;
  border: 2px solid white;
}
.Content-Landing .nav .nav-container .nav-flex .button-Landing .btn-two:hover {
  background: white;
  transition: 1s;
  border: 2px solid #03c988;
  color: black;
}

.register-page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}
.register-page .cardCompo {
  width: 40rem;
}
.register-page .cardCompo .card-two .imgAstro {
  position: relative;
  animation: imgMove 4s infinite;
  width: 300px;
}

@keyframes imgMove {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 0px;
  }
  50% {
    bottom: 40px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .register-page {
    height: 99vh;
    align-items: center;
  }
  .register-page .cardCompo {
    width: 23rem;
  }
  .register-page .cardCompo .card-two .imgAstro {
    width: 200px;
  }
  .CardBody {
    flex-direction: column;
  }
  .card-one {
    order: 1;
  }
}
.login-page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}
.login-page .cardCompo {
  width: 20rem;
}
.login-page .cardCompo .card-one {
  order: 1;
}
.login-page .cardCompo .card-two .imgAstro {
  position: relative;
  animation: imgMove 4s infinite;
  width: 200px;
}

@keyframes imgMove {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 0px;
  }
  50% {
    bottom: 40px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}
.side-nav {
  height: 100vh;
  width: 250px;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  display: flex;
}
.side-nav .side-nav-sub {
  background: #03c988;
  width: 0px;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
}
.side-nav .side-nav-sub .side-nav-flex {
  display: none;
  transition: 1s;
}
.side-nav .side-nav-active {
  background: #03c988;
  width: 300px;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
  display: flex;
  justify-content: center;
}
.side-nav .side-nav-active .side-nav-flex h1 {
  color: white;
  font-family: cursive;
}
.side-nav .side-nav-active .side-nav-flex .button-side-nav {
  width: 100%;
  margin-top: 20px;
  background: none;
  border: none;
}
.side-nav .side-nav-active .side-nav-flex .button-side-nav:hover {
  background: white;
  color: black;
  transition: 1s;
}

.Profile-Box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whistlist-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Notepad-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Setting-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #ddd;
}/*# sourceMappingURL=main.css.map */